! ===== fonts
Xft.autohint  : 0
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : 1
Xft.antialias : 1
Xft.rgba      : rgb
! fixed is the one true font - use iso10646 for unicode characters
*font         : Cascadia Code PL:size=14

! ===== xclock
! digital clock in lower right-hand corner
XClock*analog      : false
XClock*twentyfour  : true
XClock*padding     : 0
XClock*geometry    : -2-2
XClock*render      : false
XClock*font        : -misc-fixed-bold-r-normal-*-13-*-*-*-*-*-iso10646-1
XClock*height      : 12
XClock*background  : white
XClock*foreground  : black
XClock*borderWidth : 0

! remove the additional black border
XTerm*borderWidth            : 0
XTerm*internalBorder         : 2
! set TERM env variable to use 256 colors
XTerm*termName               : xterm-256color
! make alt key work normally
XTerm*vt100.metaSendsEscape  : true
! save ~10,000 lines of scrollback
XTerm*v100.saveLines         : 10240
! hide scrollbar
XTerm*vt100.scrollBar        : false
! terminal bell tells the window manager to raise urgent flag
XTerm*vt100.bellIsUrgent     : true
! no bold fonts - just use brighter colors
XTerm*allowBoldFonts         : false
! pressing a key automatically scrolls to the bottom
XTerm*scrollKey              : true
! don't allow terminal to go fullscreen
XTerm*fullscreen             : never
! clicking a line selects only from the current word forward
XTerm*cutToBeginningOfLine   : false
! and don't include a trailing newline in the selection!
XTerm*cutNewline             : false
! some black magic to change what characters XTerm considers "word delimiters"
XTerm*charClass              : 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
! select word on two clicks
XTerm*on2Clicks              : word
! select whole line on three clicks
XTerm*on3Clicks              : line
