! ===== fonts
Xft.autohint  : 0
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : 1
Xft.antialias : 1
Xft.rgba      : rgb
! fixed is the one true font - use iso10646 for unicode characters
*font         : Cascadia Code PL:size=14

! ===== xclock
! digital clock in lower right-hand corner
XClock*analog      : false
XClock*twentyfour  : true
XClock*padding     : 0
XClock*geometry    : -2-2
XClock*render      : false
XClock*font        : -misc-fixed-bold-r-normal-*-13-*-*-*-*-*-iso10646-1
XClock*height      : 12
XClock*background  : white
XClock*foreground  : black
XClock*borderWidth : 0
